<form [formGroup]="messageForm" (ngSubmit)="saveMessage()">
  <h1 mat-dialog-title>{{title}}</h1>
  <div mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="50" appearance="outline" color="accent" >
        <mat-label>Sender</mat-label>
        <input matInput placeholder="Sender" formControlName="sender">
        <mat-error *ngIf="formControls.sender.errors?.stringNumber12">{{formErrors.stringNumber12()}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50" appearance="outline" color="accent">
        <mat-label>Pool number</mat-label>
        <input matInput placeholder="Pool number" formControlName="poolNumber" type="number">
        <mat-error *ngIf="formControls.poolNumber.errors?.required">{{formErrors.required()}}</mat-error>
        <mat-error *ngIf="formControls.poolNumber.errors?.min">{{formErrors.min(0, 1000)}}</mat-error>
        <mat-error *ngIf="formControls.poolNumber.errors?.max">{{formErrors.max(0, 1000)}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="space-between start">
      <mat-form-field  appearance="outline" color="accent">
        <mat-label>Not Routed Reason</mat-label>
        <mat-select formControlName="notRoutedReason">
          <mat-option value="">None</mat-option>
          <mat-option *ngFor="let item of notRoutedReasonsOptions | enumToArray" [value]="item.name">
            {{item.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControls.notRoutedReason.errors?.required">{{formErrors.required()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Sent Date</mat-label>
        <input matInput [matDatepicker]="sentDatePicker" formControlName="sentDate"
               placeholder="Sent Date Time">
        <mat-datepicker-toggle matSuffix [for]="sentDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #sentDatePicker></mat-datepicker>
        <mat-error *ngIf="formControls.sentDate.errors?.required">{{formErrors.required()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Sent Time</mat-label>
        <input matInput type="time" formControlName="sentTime"
               placeholder="Sent  Time">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="space-between start">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Requested Delivery Report Mask Text</mat-label>
        <mat-select formControlName="requestedDeliveryReportMaskText">
          <mat-option value="">None</mat-option>
          <mat-option *ngFor="let item of deliverReportOptions | enumToArray" [value]="item.name">
            {{item.name}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="formControls.requestedDeliveryReportMaskText.errors?.required">{{formErrors.required()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Delivery Report Date</mat-label>
        <input matInput [matDatepicker]="deliveryDatePicker" formControlName="deliveryReportReceivedDate"
               placeholder="Delivery Report Received">
        <mat-datepicker-toggle matSuffix [for]="deliveryDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #deliveryDatePicker></mat-datepicker>
        <mat-error
          *ngIf="formControls.deliveryReportReceivedDate.errors?.required">{{formErrors.required()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Report Time</mat-label>
        <input matInput type="time" formControlName="deliveryReportReceivedTime"
               placeholder="Report Time">
        <mat-error
          *ngIf="formControls.deliveryReportReceivedTime.errors?.required">{{formErrors.required()}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="space-between start">
      <div class="form-checkbox-allow">
        <mat-checkbox formControlName="isUnicode" color="primary">
          Is Unicode
        </mat-checkbox>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between stretch">
    <div fxFlex="50">
      <button mat-button mat-flat-button color="primary" type="submit"
              aria-label="Save Message button" class="full">Save
      </button>
    </div>
    <div fxFlex="50">
      <button mat-button mat-flat-button color="accent" (click)="close()" type="button"
              aria-label="Close dialog button" class="full">Close
      </button>
    </div>
  </div>
</form>
