<form [formGroup]="csvForm" novalidate (ngSubmit)="submitCsv()">
  <h1 mat-dialog-title>{{title}}</h1>
  <div mat-dialog-content>
    <p>Load CSV file "result.csv" which you provided for this test</p>
    <input type="file" name="file" accept="text/csv" (change)="onFileChange($event)" required>
    <mat-error *ngIf="csvForm.controls.file.invalid && (csvForm.controls.file.dirty || csvForm.controls.file.touched)">
      This field is required
    </mat-error>
  </div>
  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between stretch">
    <div fxFlex="50">
      <button mat-button mat-flat-button color="primary" [disabled]="csvForm.controls.file.invalid" type="submit"
              aria-label="Select CSV to upload" class="full">Submit
      </button>
    </div>
    <div fxFlex="50">
      <button mat-button mat-flat-button color="accent" (click)="close()"
              aria-label="Close dialog button" type="button" class="full">Close
      </button>
    </div>
  </div>
</form>
