html, body {
  margin: 0;
  height: 100%;
  color: map-get($m-gray, 300);
  background-color: map-get($m-gray, 900);
}

body {
  overscroll-behavior-y: contain;
}

a {
  cursor: pointer;
  color: map-get($m-brand, 900);
}

hr {
  border: 0;
  border-top: 1px solid map-get($m-gray, 800);
}

ul {
  padding-left: map-get($m-spacing, sm);
}

main {
  position: relative;
}

.header-wrapper {
  @extend .mat-typography;
  padding: map-get($m-spacing, md);
}

.content-wrapper {
  @extend .mat-typography;
  padding: map-get($m-spacing, md);
}

// == Material  ====================================================================
.mat-typography {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
