.mat-dialog-container {
  @extend .mat-typography;

  .mat-dialog-title {
    font-weight: 500;
  }

  .mat-dialog-content {
    padding-bottom: map-get($m-spacing, sm);
  }

  .spacer {
    flex-grow: 1;
  }
}
