@import '~src/styles/mixings';

// == Content sizes ====================================================================
$wrappers: (
  sm: 700px,
  md: 900px,
  lg: 1200px,
  full: 100%
);

@each $key, $value in $wrappers {
  .wrapper-#{$key} {
    width: 100%;
    max-width: $value;
    margin-left: auto;
    margin-right: auto;
  }
}
// == Text direction ====================================================================
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

// == Text gray palette ==================================================================
@each $key, $value in $m-gray {
  .text-gray-#{$key} {
    color: $value;
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}
// == Alignment =========================================================================
.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

// == Margins ===========================================================================
.divider-none {
  margin: 0 !important;
}

// == Width =============================================================================
.width-full {
  width: 100%;
}

// == Spacers ===========================================================================
@each $key, $value in $m-spacing {
  .spacer-#{$key} {
    height: $value;
  }
}

// == Display ===========================================================================
*[hidden] {
  display: none;
}
// == Icons =============================================================================
.mat-icon.icon-size-14 {
  @include mat-icon-size(14px);
}

.mat-icon.icon-size-16 {
  @include mat-icon-size(16px);
}


// == Custom color classes ==============================================================
.mat-success {
  color: map-get($m-brand, A800);
}

.mat-warning {
  color: map-get($m-brand, A900);
}

.mat-danger {
  color: map-get($m-brand, A1000);
}

.mat-secondary {
  color: map-get($m-brand, 300);
}



