// mat-icon-stepper selected color change

.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    background-color: #fff;
    border-radius: 6px;
  }
}

// Sets the underline to red if dirty and invalid
.mat-form-field.ng-dirty.ng-invalid .mat-form-field-appearance-outline {
  background-color: red;
}
// Sets the label to red if dirty and invalid
.mat-form-field.ng-dirty.ng-invalid .mat-form-field-label {
  color: red;
}

.mat-form-field-appearance-outline.full {
  width: 100%;
}
