@import '~src/styles/variables';
@import '~@angular/flex-layout/mq';


.mat-snack-bar-container {
  width: 340px;
  padding: map-get($m-spacing, sm) map-get($m-spacing, md);
  color: #fff;
  box-sizing: border-box;

  @include layout-bp(lt-sm) {
    width: 100%;
  }

  &.error {
    background-color: map-get($m-brand, A1000);
  }

  &.success {
    background-color: map-get($m-brand, A800);
  }

  &.accent {
    background-color: $m-accent;
  }
}
