@import '~src/styles/variables';

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell .mat-sort-header-container.mat-sort-header-sorted .mat-sort-header-arrow {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

.table-empty {
  padding: 16px;
  background-color: map-get($m-theme-background, dialog);
}
