@include mat-core();

//=== THEME ==============================================================================================
$m-theme-primary: mat-palette($m-brand, 900);
$m-theme-accent: mat-palette($m-brand, A400);
$m-theme-warn: mat-palette($m-brand, A1000);

//$m-theme: mat-light-theme($m-theme-primary, $m-theme-accent, $m-theme-warn);
$m-theme-background: (
  status-bar: map-get($mat-grey, 300),
  app-bar: map-get($mat-grey, 100),
  background: map-get($m-gray, 900),
  hover: rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card: white,
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map-get($mat-grey, 300),
  selected-disabled-button: map-get($mat-grey, 400),
  disabled-button-toggle: map-get($mat-grey, 200),
  unselected-chip: map-get($mat-grey, 300),
  disabled-list-option: map-get($mat-grey, 200),
);
$m-theme-foreground: (
  base: map-get($m-brand, 700),
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: map-get($m-gray, 300),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

$m-typography: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(20px, 30px, 400),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(14px, 20px, 700),
  $body-2: mat-typography-level(14px, 24px, 500),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input: mat-typography-level(16px, 1.125, 400)
);

@function create-vt-theme($primary, $accent, $warn) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $m-theme-foreground,
    background: $m-theme-background
  );
}

$m-theme: create-vt-theme($m-theme-primary, $m-theme-accent, $m-theme-warn);
@include mat-base-typography($m-typography);
@include angular-material-theme($m-theme);
