/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

// define a real custom palette (using http://mcg.mbitson.com)
$m-brand: (
  50: #ffffff,
  100: #fcedf3,
  200: #f3d2e0,
  300: #e3acc4,
  400: #e094b5,
  500: #de8baf,
  600: #dc7aa4,
  700: #f35a9c,
  800: #f1458f,
  900: #E72679,
  A100: #ffffff,
  A200: #dde6f3,
  A400: #54475a,
  A700: #21022f,
  A800: #31b510,
  A900: #F26E00,
  A1000: #D74242,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: white,
    A700: white,
    A800: white,
    A900: white,
    A1000: white,
  )
);

$m-gray: (
  100 : #010101,
  200 : #1d1d1d,
  300: #242628,
  400 : #2f2f2f,
  500 : #454646,
  600 : #6b6c6c,
  700 : #bcbebe,
  750: #c1c7cd,
  800 : #e0e2e2,
  900 : #F2F4F4,
);

$m-spacing: (
  xs: 8px,
  sm: 16px,
  md: 24px,
  lg: 32px,
  xlg: 48px,
  xxlg: 64px,
);

$m-primary: map-get($m-brand, 900);
$m-accent: map-get($m-brand, A400);
$m-warn: map-get($m-brand, A1000);

