<button mat-flat-button [matMenuTriggerFor]="menu" class="full">
  <mat-icon>filter_list</mat-icon> Filter Messages
</button>
<mat-menu #menu="matMenu" class="menu-filter">
  <div fxLayout="column"  fxLayoutAlign="space-between stretch" (click)="$event.stopPropagation();">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Filter Sender</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value, 'sender')" placeholder="Filter">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Filter Pool Number</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value, 'poolNumber')" type="number" placeholder="Filter">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Filter Routed Reasons</mat-label>
      <mat-select (selectionChange)="applyFilter($event.value, 'notRoutedReason')">
        <mat-option value="">None</mat-option>
        <mat-option *ngFor="let item of notRoutedReasonsOptions | enumToArray" [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Filter Sent Date</mat-label>
      <input matInput [matDatepicker]="sentDatePicker" placeholder="Sent Date Time"
             (dateChange)="applyFilter($event.value?.format('YYYY-MM-DD'), 'sentDateTime')">
      <mat-datepicker-toggle matSuffix [for]="sentDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #sentDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Filter Report Mask</mat-label>
      <mat-select (selectionChange)="applyFilter($event.value, 'requestedDeliveryReportMaskText')">
        <mat-option value="">None</mat-option>
        <mat-option *ngFor="let item of deliverReportOptions | enumToArray" [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Filter Reports</mat-label>
      <input matInput [matDatepicker]="reportDatePicker" placeholder="Reports Received"
             (dateChange)="applyFilter($event.value?.format('YYYY-MM-DD'), 'deliveryReportReceivedDateTime')">
      <mat-datepicker-toggle matSuffix [for]="reportDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #reportDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Filter Unicode</mat-label>
      <mat-select (selectionChange)="applyFilter($event.value, 'isUnicode')">
        <mat-option value="">None</mat-option>
        <mat-option *ngFor="let item of messageUnicodeOptions | enumToArray" [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-menu>

