<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="row" fxLayoutAlign="space-between" class="header-wrapper">
  <div>
    <img src="assets/logo.svg" alt="Logo" width="150">
  </div>
  <div class="header-info">
    <strong>Vladimir Bujanovic</strong>
    <span>Test project</span>
    <a href="assets/result.csv">Download demo CSV</a>
  </div>
</div>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>

