<h1 mat-dialog-title>{{data?.title || 'Confirm your action'}}</h1>
<div mat-dialog-content>
  <p>{{data?.message}}</p>
</div>
<div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between stretch">
  <div fxFlex="50">
    <button mat-button mat-flat-button color="primary" (click)="confirm()"
            aria-label="Confirm button" class="full" type="button">Confirm
    </button>
  </div>
  <div fxFlex="50">
    <button mat-button mat-flat-button color="accent" (click)="close()"
            aria-label="Close dialog button" class="full" type="button">Close
    </button>
  </div>
</div>
