@import '~src/styles/variables';
@import '~@angular/flex-layout/mq';

.table-controls {
  padding-bottom: map-get($m-spacing, sm);
}

.table-container {
  width: 100%;
  overflow: auto;
}

mat-table {
  width: 100%;
  min-width: 1000px;
  display: inline-block;

  mat-row {
    transition: background-color 0.2s ease;
  }

  mat-row:hover {
    background-color: map-get($m-brand, 100) !important;
  }

  mat-header-row mat-header-cell, mat-row mat-cell {
    padding: 2px 4px;
    &:first-child {
      padding-left: map-get($m-spacing, md)
    }
    &:last-child {
      max-width: 40px;
      padding-right: 0;
    }
  }
}


.row-controls {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }
  }
}
//
//
//@include layout-bp(lt-md) {
//  mat-table  {
//    mat-header-row mat-header-cell, mat-row mat-cell {
//      padding: 2px 8px;
//    }
//  }
//}
