<div class="wrapper">
  <div class="table-controls" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="space-between stretch">
    <div fxFlex.lt-md="50">
      <button mat-flat-button color="primary" (click)="loadCsv()" class="full">
        <mat-icon>publish</mat-icon>
        Load CSV
      </button>
    </div>
    <div fxFlex.lt-md="50">
      <button mat-flat-button color="primary" (click)="download(dataSource.data)" *ngIf="hasData" class="full">
        <mat-icon>get_app</mat-icon>
        Export JSON
      </button>
    </div>
    <div fxFlex.lt-md="50">
      <button mat-flat-button color="accent" (click)="showCreateUpdate()" *ngIf="hasData" class="full">
        <mat-icon>add</mat-icon>
        Add Message
      </button>
    </div>
    <div fxFlex fxHide.lt-md></div>
    <div fxFlex.lt-md="50">
      <app-message-list-filters [dataSource]="dataSource" *ngIf="hasData"></app-message-list-filters>
    </div>
  </div>
  <div [hidden]="!hasData" class="table-container">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort>
      <ng-container matColumnDef="Message UUID">
        <mat-header-cell *matHeaderCellDef mat-sort-header="messageUUID"> Message UUID</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.messageUUID}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Sender">
        <mat-header-cell *matHeaderCellDef mat-sort-header="sender"> Sender</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.sender}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Pool number">
        <mat-header-cell *matHeaderCellDef mat-sort-header="poolNumber"> Pool number</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.poolNumber}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Not Routed Reasons">
        <mat-header-cell *matHeaderCellDef mat-sort-header="notRoutedReason"> Not Routed Reasons</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.notRoutedReason}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Sent Date Time">
        <mat-header-cell *matHeaderCellDef mat-sort-header="sentDateTime"> Sent Date Time</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.sentDateTime | date:'d MMM, y  HH:mm:ss a z'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Requested Delivery Report Mask Text">
        <mat-header-cell *matHeaderCellDef mat-sort-header="requestedDeliveryReportMaskText">
          Requested Delivery Report
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
        <span [ngClass]="{'mat-success': element.requestedDeliveryReportMaskText === 'Submitted',
        'mat-danger': element.requestedDeliveryReportMaskText === 'Failed' }">
          {{element.requestedDeliveryReportMaskText}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Delivery Report Received">
        <mat-header-cell *matHeaderCellDef mat-sort-header="deliveryReportReceivedDateTime">
          Delivery Report Received
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.deliveryReportReceivedDateTime | date:'d MMM, y  HH:mm:ss z' }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Is Unicode">
        <mat-header-cell *matHeaderCellDef mat-sort-header="isUnicode"> Is Unicode</mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-danger">
          <mat-icon [ngClass]="{'mat-success': element.isUnicode | parseBool}">
            {{(element.isUnicode | parseBool) ? 'check' : 'close'}}</mat-icon>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Actions" stickyEnd>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element" class="row-controls">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vertical</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button matTooltip="Edit" aria-label="Edit message button"
                    mat-menu-item (click)="showCreateUpdate(element)">
              <mat-icon>edit</mat-icon>
              Edit Message
            </button>
            <button matTooltip="Delete" aria-label="Edit message button"
                    mat-menu-item (click)="confirmDelete(element)">
              <mat-icon>delete</mat-icon>
              Delete Message
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="paginatorOptions" showFirstLastButtons [hidden]="!hasData"></mat-paginator>
  </div>
  <div *ngIf="!hasData" class="table-empty text-center">
    No Records Found!
  </div>
</div>
